.navbar {
    background-color: rgba(0, 0, 0, 0.159);
    background-size: 10rem 5rem;
    background-attachment: scroll;
    background-position: left;
    background-repeat: no-repeat;
}
.header a {
    font-size: 2rem;
}
body {
    background-image: url("pictures/39950569-black-and-white-wallpapers.png");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
