body {
    background-image: url("pictures/39950569-black-and-white-wallpapers.png");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    background-color: rgba(0, 0, 0, 0);
    background-size: 10rem 5rem;
    background-attachment: scroll;
    background-position: left;
    background-repeat: no-repeat;
}
.header a {
    font-size: 2rem;
    background-color: transparent;
    background-size: 0% 100%;
    border: none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    outline: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    transition: background-color 1s;
    width: 10rem;
}
.header a:hover {
    color: white;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, 1) 0%,
        rgba(152, 152, 152, 1) 64%,
        rgba(55, 55, 55, 1) 86%
    );
    background-repeat: no-repeat;
    background-size: 200% 100%;
    transition: background-size 2s, background-color 3s;
}
.header .btn {
    background-color: transparent;
}
.container h1 {
    background-color: rgba(192, 192, 192, 0.303);
    font-size: 5rem;
    color: rgb(39, 39, 39);
}
.container .panel {
    background-color: rgba(192, 192, 192, 0.487);
}
.container .panel h1 {
    background-color: transparent;
    color: black;
}
.container .email {
    margin-left: 11.5rem;
}
.panel-body {
    width: 60rem;
    font-size: 1.5rem;
    padding: 5rem;
    color: black;
}
.panel-heading {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: silver;
    border: 1px solid black;
    text-decoration: underline;
    text-decoration-style: wavy;
}
.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto;
    padding-top: 5rem;
}
.grid-item {
    color: black;
    background-color: rgba(255, 255, 255, 0.385);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.tab-pane {
    padding: 15px;
    height: 300px;
}
.tab-content {
    background-color: rgba(0, 0, 0, 0.357);
    color: white;
}
.nav-tabs {
    position: relative;
    border: none !important;
    background-color: rgba(0, 0, 0, 0.46);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
.nav-tabs li {
    margin: 0px !important;
}
.nav-tabs li a {
    position: relative;
    margin-right: 0px !important;
    padding: 20px 40px !important;
    font-size: 16px;
    border: none !important;
    color: white;
}
.nav-tabs a:hover {
    background-color: #fff !important;
    color: black;
    border: none;
}
.nav-tabs .active {
    background-color: rgba(192, 192, 192, 0.515) !important;
    border: none !important;
    color: white !important;
}
.language .grid-item {
    background-color: transparent;
    border: none;
    color: white;
    text-align: left;
}
.language a {
    color: white;
}
